@font-face {
    font-family: "ui_font";
    src: url("/assets/fonts/CozetteVector.ttf") format("truetype");
}

/* * */
*:not(.ace_editor > *)
{
    font-family: ui_font, Verdana;

    /*cursor: url(/assets/cursor_2x.png), auto; Chromium browsers make a separate request for each element on a page... Which might flood the server with requests and cause Cloudflare to stop reponding */
    cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHJJREFUeNrslUEOgDAIBMH0W/h4eRg2amzaeBWq7CYcymk6IcBWQ32YHLNQcG4AVT2qxq5KZiDKxHwGvE2EGyhjYxXp3ttpgUTE3tgT8xkYI80I55iBh3HnX+8BTn8Ni/ePv3MLAAAAAAAAAABIA7ALMAAtOCJhJhCiWwAAAABJRU5ErkJggg=='), auto;
}
.ace_print-margin
{
    display: none !important;
}
.ace_selection
{
    background: #000000 !important;
    border-radius: 0 !important;
}

html, body
{
    touch-action: none;
}

canvas
{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body, .password_screen
{
    user-select: none;

    font-size: 12px;
    /* Firefox needs "fixed" keyword here otherwise the background will go white - Molis */
    background: fixed repeating-linear-gradient( -45deg, black 0px, black 5.1px, #0b0b0b 5.1px, #0b0b0b 10.2px );
    height: 100%;
    overflow: hidden;
    background-blend-mode: overlay;
    /*transition: background-color 1s ease;*/

    position:fixed;
    left:0;
    top:0;
    
    width: 100%;
    height: 100%;
    margin: 0;
}
.password_screen
{
    color: #ffffff;
}
.password_screen .prompt_box
{
    background: #000000;
    padding: 30px;
    width: 500px;

    position:relative;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% );
}
.password_screen .prompt_box input
{
    margin-top: 20px;
    width: 100%;
}


*::-moz-selection { background-color: #ffffff; color: #000000; }
*::selection { background-color: #ffffff; color: #000000; }
input
{
    font-size: 12px;

    border: none;
    background-color: #414141;
    padding: 6px;
    height: 30px;
    color: white;
    border-radius: 0;
    outline: none;
    margin-top: 3px;
}
input:active
{
    background-color: #000000;
}
input[type=color]
{
    background-color: #111111;
    padding: 1px;
    width: 50px;
    height: 20px;
}
input[type=color].gecko
{
    padding: 5px 3px 5px 3px;
}
input::-moz-color-swatch
{
    border: 1px solid black;
}
input::-webkit-color-swatch
{
    border: 1px solid black;
}
input[type=button]:active
{
    background-color: black !important;
}


input[type=checkbox]
{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
input[type=checkbox]::after
{
    display: block;
    content: " ";
    position: absolute;
    width: 220px;
    height: 20px;
    box-sizing: border-box;
}
input[type=button]
{
    padding-left: 12px;
    padding-right: 12px;
}




input:hover, input:focus
{
    background-color: #425380 !important;
}
.set_block
{
    display: inline-block;
    vertical-align: top;
    width: 162px;
    padding-bottom: 10px;
    /*transition: all 0.2s ease;*/
    color: transparent;
    height: 15px;
    padding: 10px;
    background-color: transparent;
    position: relative;
    user-select: none;

    scrollbar-color: white transparent;
}
.set_block *
{
    pointer-events: none;
    opacity: 0;
    display: none;
}
.set_block:focus-within *
{
    pointer-events: unset;
    opacity: 1;
    display: unset;
}
.set_block .sdtitle
{
    opacity: 1 !important;
    display: block;
}
.set_block input
{
    height: 0;
    opacity: 0;
}
.set_block label
{
    /*font-size: 70%;*/
}
.set_block:hover
{
    background-color: #0d1710;
}
.set_block:focus-within
{
    font-size: unset;
    color: unset;
    height: auto;
    max-height: 150px;
    background-color: #1e3424;
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;

    margin-bottom: -100%;
    z-index:1000;


}

.set_block:focus-within::-webkit-scrollbar
{
    width: 12px;
    height: 12px;
    background-color: #1e3424;
}
.set_block:focus-within::-webkit-scrollbar-thumb
{
    background-color: white;
    box-shadow: inset 0 0 0px 5px #1e3424;
}
.set_block:focus-within input
{
    height: 10px;
    opacity: 1;
    pointer-events: unset;
}
.sdtitle
{
    color: #5ce98a;
    /*font-size: 12px;*/
}
.sdgroup
{
    padding:5px;
    padding-top:10px;
    color:#666666;
}
a, a:link, a:visited
{
    color: #6f87ac;
    text-decoration: none;
}
a:hover
{
    color:white;
}
a:active
{
    color:black;
}


.serverA, .serverA:link, .serverA:visited
{
    color: #82b4ff;
}
.serverB, .serverB:link, .serverB:visited
{
    color: white;
}
.serverC, .serverC:link, .serverC:visited
{
    color: #58ea99;
}
.serverD, .serverD:link, .serverD:visited
{
    color: #66eaff;
}
.serverE, .serverE:link, .serverE:visited
{
    color: #d8c271;
}
.serverF, .serverF:link, .serverf:visited
{
    color: #9e9eff;
}

.server, .server:link, .server:visited
{
    display:block;
    padding:5px;
}
.server:hover
{
    color: #ff7aef;
}
.server:active
{
    color: #000000;
}
.server div
{
    opacity: 0.4;
}

.r_container
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color:rgba(0,0,0,0);
    
    border-radius: 0.2cm;
    border: 2px inset #ffffff05;
    
    vertical-align: middle;
    
    box-sizing: border-box;

    pointer-events: none;
    color: #ffffff22;
    font-size: 0.5cm;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
		    supported by Chrome, Edge, Opera and Firefox */
}
.r_wsad
{
    border: 2px inset #ffffff20;
    color: #ffffff73;
}
.r_dimmed_bg
{
    background-color:rgba(0,0,0,0.8);
    color: #ffffff;
}
.r_held
{
    border: 2px inset #aaffaaaa;
    animation: held_ping 2s normal forwards ease-in-out;

}
@keyframes held_ping {
    from {
	border: 2px inset #aaffaaaa;
    }
    to {
	border: 2px inset #aaffaa10;
    }
}
#twitch_player_div, #youtube_player_div
{
    pointer-events: none;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
    display: none;
}



div.sd_overlay
{
    display: block;
    box-sizing: border-box;
    position: fixed;
    padding: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}
div.sd_window
{
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(0,0,0,0.85);
    position: fixed;
}
div.sd_window_caption
{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(0,0,200,0.85);
}
div.sd_window_close_btn
{
    position: absolute;
    right: 17px;
    top: 17px;
    width: 20px;
    height: 20px;
    background-color:#aaaaaa;
    box-shadow: 1px 1px 0px #ffffff78 inset, -1px -1px 0px #00000054 inset;

    display: flex;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    line-height: 0;

    box-sizing: border-box;
}
div.sd_window_close_btn:hover
{
    background-color:#bbbbbb;
}
div.sd_window_close_btn:active
{
    background-color:#666666;
    box-shadow: -1px -1px 0px #00000054 inset, 1px 1px 0px #00000054 inset;

    padding-top: 1px;
}
div.sd_window_inner_container
{
    display: block;
    width: 100%;
    height: calc( 100% - 33px - 10px );
}
div.sd_text
{
    display: inline;
    color: white;
}
div.sd_text:focus-visible
{
    outline: none;
    border-radius: 1px;
    background-color: #4b4b4b;
    box-shadow: 0px 0px 0px 3px #4b4b4b;
    color: #ffffff !important;
    /*transform: scale(2,2) translate(5px, 0px);
    transform-origin: left center;
    position: absolute;*/
    padding-left: 5px;
    padding-right: 5px;
    opacity: 1 !important; /* Prevent sync blinking */
    position: relative;
    left: -5px;
    display: inline-block; /* Unhides caret for some reason */
    margin-left: 5px;
    margin-right: -5px;
}
div.sd_text_block
{
    display: block;
    color: white;
    width: fit-content;
}
div.sd_button
{
    width: 150px;
    height: 30px;
    background-color: #004e00;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.sd_row
{
    display: flex;
    align-items: center;
}
div.sd_chat
{
    display: block;
    bottom: 16px;
    position: fixed;
    width: 360px;
    padding: 8px;
    background-color: #00000080;
    color: white;
}
input[type=text].sd_chat
{
    background-color: transparent;
    width: 360px;
    margin: 0;
    user-select: text;
}
/*div.sd_button:hover
{
    background-color: #0e7e0e;
}
div.sd_button:active
{
    background-color: #042d04;
}*/

div.pending_blinking
{
    animation: 0.3s linear infinite alternate blinking_anim;
}
@keyframes blinking_anim {
    from { opacity: 0.25; }
    to { opacity: 0.5; }
}
.sd_scrollbar::-webkit-scrollbar, .ace_scrollbar::-webkit-scrollbar
{
    width: 12px;
    height: 12px;
    background-color: #000000;
    border-radius: 6px;
}
.sd_scrollbar::-webkit-scrollbar-thumb, .ace_scrollbar::-webkit-scrollbar-thumb
{
    background-color: white;
    box-shadow: inset 0 0 0px 5px #000000;
}

.clr-field
{
    /*display: none !important;*/
    visibility: hidden;
    pointer-events: none;
}
